\n
@code{
  var className = helper.getSimpleName(type.name);
}

@if{!type.isAbstract()}
  type @{className} = @{helper.getNonGenericType(type)}\n
\n
  object @{className} {\n
    @if{hasEmptyConstructor}def apply() = new @{className}()\n@end{}
    def apply(json: JsonObject) = new @{className}(json)\n
  }\n
@end{}
\n
